:root {
  --primary-font: "Roboto", sans-serif;
  --title-font: "Roboto", sans-serif;
  --primary-black-color: #434455;
  --primary-white-color: #ffffff;
  --primary-accent-color: #2e2f42;
  --secondary-accent-color: #404bbf;
  --iris: #4d5ae5;
  --cloud: #f4f4f4;
  --secondary-white-color: #f4f4fd;
  --cornflower-color: #e7e9fc;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  margin-bottom: 0;
}
ul,
ol {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

body {
  font-family: var(--primary-font);
  color: var(--primary-black-color);
  background-color: var(--primary-white-color);
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}
.container {
  width: 100%;
  padding-left: 16px;
  padding-right: 16px;
  margin: 0 auto;
}

.link {
  text-decoration: none;
  list-style: none;
}
.logo-web-head {
  font-size: 18px;
  font-family: Raleway, sans-serif;
  font-weight: 800;
  line-height: 1.17;
  letter-spacing: 0.03em;
  color: var(--iris);
  text-decoration: none;
  text-transform: uppercase;
  margin-right: 76px;
}
.logo-studio-head {
  color: var(--primary-accent-color);
}
.list {
  list-style: none;
  text-decoration: none;
}
.header {
  border-bottom: 1px solid var(--cornflower-color);
  padding: 24px 0;
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}

.header-container {
  display: flex;
  align-items: center;
  gap: 332px;
}
.header-contacts {
  margin-left: auto;
  gap: 40px;
  display: flex;
}
.header-nav {
  display: flex;
  align-items: center;
}
.header-menu {
  display: flex;
  gap: 40px;
}
.nav-link {
  font-size: 16px;
  font-weight: 500;
  color: var(--primary-accent-color);
  padding: 24px 0;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.nav-link:hover,
.nav-link:focus,
.nav-link:active {
  color: var(--secondary-accent-color);
}
.emphasis {
  position: relative;
  color: var(--secondary-accent-color);
}
.emphasis::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -1px;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: var(--secondary-accent-color);
}
.header-address {
  font-style: normal;
}
.address-link {
  font-style: normal;
  color: var(--primary-black-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.address-link:hover,
.address-link:focus {
  color: var(--secondary-accent-color);
}
.address-tel {
  color: var(--primary-accent-color);
}
.address-tel:hover,
.address-tel:focus {
  color: var(--secondary-accent-color);
}
.section-one {
  background-color: var(--primary-accent-color);
  padding-top: 188px;
  padding-bottom: 188px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/people-office.jpg);
  max-width: 1440px;
  margin: 0 auto;
}
.content-subtittle {
  color: var(--primary-accent-color);
  background-color: var(--primary-white-color);
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
}
.content-text {
  color: var(--primary-black-color);
}


.logo-studio {
  color: var(--secondary-white-color);
}

.first-tittle {
  color: var(--primary-white-color);
  font-size: 56px;
  font-weight: 700;
  line-height: 1.07;
  text-align: center;
  letter-spacing: 0.02em;
  max-width: 496px;
}
.first-tittle-container {
  min-width: 496px;
  margin: 0 auto;
  margin-bottom: 48px;
}
.section-two {
  /* padding: 120px 0px; */
  padding: 96px 0px;
}
.advantages-tittle {
  color: var(--primary-accent-color);
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  text-transform: capitalize;
  text-align: center;
  letter-spacing: 0.02em;
  margin-bottom: 8px;

}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.advantages-text {
  font-weight: 500;
  color: var(--primary-black-color);
}
.advantages-section {
  display: flex;
  /* gap: 24px; */
  gap: 72px;
  flex-wrap: wrap;
  margin: 0 auto;
}

.advantages-section-icon {
  display: none;
}
.advantages-section-item {
  width: 100%;
}


.section-three {
  padding-bottom: 120px;
}
.second-tittle {
  color: var(--primary-accent-color);
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  text-transform: capitalize;
  text-align: center;
  letter-spacing: 0.02em;
  margin-bottom: 72px;
}
.section-three-list {
  display: flex;
  gap: 24px;
}

.section-four {
  background-color: var(--secondary-white-color);
  padding-top: 96px;
  padding-bottom: 96px;
}
.our-team-list {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 72px;
  
}
.team-card {
  max-width: 264px;
  background-color: var(--primary-white-color);
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
  display: block;
  
}


img {
  display: block;
  max-width: 100%;
  height: auto;
}
.member-container {
  padding: 32px 0px;
}
.member-name {
  color: var(--primary-accent-color);
  font-size: 20px;
  line-height: 1.2;
  font-weight: 500;
  letter-spacing: 0.02em;
  margin-bottom: 8px;
  text-align: center;
}
.member-position {
  color: var(--primary-black-color);
  margin-bottom: 8px;
  text-align: center;
}

.member-link-list {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 24px;
}
.member-link-item {
  width: 40px;
  height: 40px;
}
.member-link {
  width: 100%;
  height: 100%;
  background-color: var(--iris);
  border-radius: 50%;
  color: var(--secondary-white-color);
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.member-link:hover,
.member-link:focus {
  background-color: var(--secondary-accent-color);
}

.member-social-icon {
  fill: currentColor;
}
.section-five {
  padding: 96px 0;
  background-color: var(--primary-white-color);
}

.customer-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 16px;
  row-gap: 72px;
  /* align-items: center; */
  justify-content: center;
}
.customer-item {
  /* width: calc((100% - 32px) / 2); */
  width: 190px;
  height: 88px;
}

.customer-link {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #8e8f99;
  border-radius: 4px;
  color: #8e8f99;
  width: 100%;
  height: 100%;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.customer-link:is(:hover, :focus) {
  color: var(--secondary-accent-color);
  border: 1px solid #404bbf;
}
.customer-icons {
  fill: currentColor;
}

.btn-order {
  background-color: var(--iris);
  color: var(--primary-white-color);
  cursor: pointer;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.btn-order-container {
  height: 56px;
  min-width: 169px;
  border-radius: 4px;
  border: none;
  display: block;
  margin: 0 auto;
  cursor: pointer;
}

.btn-order:hover,
.btn-order:focus {
  background-color: var(--secondary-accent-color);
  color: var(--primary-white-color);
}
.btn-all {
  background-color: var(--secondary-white-color);
  color: var(--iris);
  cursor: pointer;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  padding: 12px 24px;
  border: 1px solid var(--cornflower-color);
  border-radius: 4px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.btn-all:hover,
.btn-all:focus {
  background-color: var(--secondary-accent-color);
  color: var(--primary-white-color);
  border: 1px solid transparent;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}
.portfolio-section {
  padding: 96px 0 120px 0;
}
.portfolio-section-list {
  display: flex;
  justify-content: center;
  gap: 24px;
  margin-bottom: 72px;
}
.portfolio-items {
  display: flex;
  flex-wrap: wrap;
  column-gap: 24px;
  row-gap: 48px;
}
.app-text-cover {
  position: absolute;
  top: 0;
  left: 0;
  line-height: 1.5;
  color: var(--secondary-white-color);
  background-color: var(--iris);
  height: 100%;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  padding: 40px 32px;
  transform: translateY(100%);
}
.app-link {
  display: block;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.app-link:hover,
.app-link:focus {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}
.app-link:is(:hover, :focus) .app-text-cover {
  transform: translateY(0%);
}
.port-img {
  position: relative;
  overflow: hidden;
}
.content-item {
  width: calc((100% - 48px) / 3);
}

.content-subtittle {
  margin-bottom: 8px;
}
.portfolio-section-list-item {
  border: 1px solid var(--cornflower-color);
  border-top: none;
  padding: 32px 16px;
}

/** -------- MODAL --------*/
.backdrop {
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(46, 47, 66, 0.4);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal {
  width: 408px;
  min-height: 584px;
  background-color: #fcfcfc;
  border-radius: 4px;
  box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.2),
    0px 1px 3px 0px rgba(0, 0, 0, 0.12), 0px 1px 1px 0px rgba(0, 0, 0, 0.14);
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  padding: 72px 24px 24px 24px;
}
.modal-title {
color: var(--primary-accent-color);
text-align: center;
font-weight: 500;
margin-bottom: 16px;
max-width: 360px;
margin-bottom: 16px;
}
.modal-input {
border-radius: 4px;
border: 1px solid rgba(46, 47, 66, 0.40);
width: 100%;
height: 40px;
padding: 0 38px;
background-color: transparent;
color: var(--primary-accent-color);
outline: transparent;
transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-input:focus {
border-radius: 4px;
border: 1px solid var(--iris);
}
.modal-input:focus + .modal-input-icon {
  fill: var(--iris);
}

.input-label {
color:#8E8F99;
font-size: 12px;
line-height: 1.17;
letter-spacing: 0.04em;
margin-bottom: 4px;
display: block;
}
.modal-field {
  margin-bottom: 8px;
}
.modal-comment {
  margin-bottom: 16px;
}
.checkbox-field {
  margin-bottom: 24px;
}
.check-text {
  color: #8E8F99;
  font-size: 12px;
  font-weight: 400;
  line-height: 1.17;
  letter-spacing: 0.04em;
  display: block;
  align-items: center;
}

.terms-span {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  border: 1px solid rgba(46, 47, 66, 0.4);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  border-radius: 2px;
  width: 16px;
  height: 16px;
  margin-right: 8px;
  fill: transparent;
}

.modal-check:checked + .check-text span {
  background-color: var(--secondary-accent-color);
  border: none;
  fill: var(--secondary-white-color);
}
.modal-check:focus + .check-text span {
  border-color: var(--iris);
}
.modal-button {
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  min-width: 169px;
  cursor: pointer;
  display: block;
  margin: 0 auto;
  color: #fff;
  text-align: center;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  border-radius: 4px;
  background: var(--iris);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  padding: 16px 32px;
  width: 105px;
  border: none;
}
.terms-link {
  margin-left: 4px;
}

.modal-button:hover {
  background-color: var(--secondary-accent-color);
}
.terms-link {
  color: var(--iris);
  font-size: 12px;
  font-weight: 400;
  line-height: 1.16;
  letter-spacing: 0.04em;
}

.input-wrap {
  position: relative;
}
.modal-input-icon {
  position: absolute;
  left: 16px;
  top: 50%;
  transform: translateY(-50%);
  color: var(--primary-accent-color);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-comment-area {
border-radius: 4px;
border: 1px solid rgba(46, 47, 66, 0.40);
color: rgba(46, 47, 66, 0.4);
letter-spacing: 0.04em;
line-height: 1.17;
font-size: 12px;
width: 100%;
height: 120px;
padding: 8px 16px;
background-color: transparent;
outline: transparent;
transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
resize: none;


}
.modal-comment-area:focus {
  border-radius: 4px;
 border: 1px solid var(--iris);
}
.modal-comment-area::placeholder {
font-size: 12px;
font-weight: 400;
line-height: 1.16;
letter-spacing: 0.04em;
}
.close-btn {
  background: none;
  border: none;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  top: 24px;
  right: 24px;
  padding: 0;
  background-color: var(--cornflower-color);
  border: 1px solid rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.close-btn-icon {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.close-btn:hover,
.close-btn:focus {
  border: none;
  fill: var(--primary-white-color);
  background-color: var(--secondary-accent-color);
}
.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}


.footer {
  background-color: var(--primary-accent-color);
  padding: 96px 0;
}
.footer-container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;

}
.footer-logo-container {
  margin: 0 auto; 
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 72px;
  
}

.logo-web {
  font-size: 18px;
  font-family: Raleway, sans-serif;
  font-weight: 800;
  line-height: 1.17;
  letter-spacing: 0.03em;
  color: var(--iris);
  text-decoration: none;
  text-transform: uppercase;
  display: inline-block;
  margin-bottom: 18px;
}


.footer-text {
  color: var(--secondary-white-color);
  width: 100%;
  max-width: 264px;

}
.footer-social {
  margin: 0 auto;
  margin-bottom: 72px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer-label {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer-social-text {
  color: var(--primary-white-color);
  font-weight: 500;
  margin-bottom: 16px;
}
.footer-social-list {
  display: flex;
  gap: 16px;
}
.footer-social-link {
  width: 40px;
  height: 40px;
}
.footer-link-icon {
  width: 100%;
  height: 100%;
  background-color: var(--iris);
  border-radius: 50%;
  display: flex;
  color: var(--secondary-white-color);
  align-items: center;
  justify-content: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-link-icon:hover,
.footer-link-icon:focus {
  background-color: #31d0aa;
}
.footer-icon {
  fill: currentColor;
}

.footer-form {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 16px;

}
.footer-label-text {
  color: #fff;
  margin-bottom: 16px;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.email-form {
  align-items: center;
    background: #2e2f42;
    width: 100%;
    height: 40px;
    background-color: transparent;
    font-size: 12px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    padding-left: 16px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;
    border: 1px solid #fff;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
    color: #ffffff;
    outline: none;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.email-form:focus{
  border-color: #31d0aa;
}

.subscribe-button {
  min-width: 165px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    cursor: pointer;
    width: 165px;
    height: 40px;
    color: #fff;
    fill: #fff;
    border-radius: 4px;
    background-color: #4d5ae5;
    border: none;
    display: flex;
    padding: 8px 24px;
    justify-content: center;
    align-items: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.subscribe-button:hover {
  background-color: #31d0aa;
}
.subscribe-button:focus {
  background-color: #31d0aa;
}

.icon-telegram {
  margin-left: 16px;
}
